* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
p{
    margin-top:0;
    margin-bottom:0;
}
body{
    /* padding-left:30px; */
        margin-left: 52px; 
        padding-top: 60px; 
        padding-left: 30px; 
        min-height: 100vh;
        overflow-x: hidden;
}