 /* .search-box{
    margin-top:10px;
    font-size:18px;
    color:skyblue; 
    display:block;           
}  */

.search-box,
.search-button {
    /* box-sizing: border-box; */
    height:38px; 
    width:50px;
}
.search-box
{
    flex:1;
    /* height:36px; */
    /* width:66px; */
    padding-left:10px;
    font-size:16px;
    border-width:1px;
    border-style:solid;
    /* border-color:rgb(192, 192, 192); */
    border-radius:2px;
    box-shadow:inset 1px 2px 5px rgba(0,0,0,0.05);
}
.search-box::placeholder
{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size:16px;

}
.header
{
    height:55px;
    display:flex;
    flex-direction:row;
    justify-content:space-between;
}
.left-sec
{
    display:flex;
    align-items:center;
}
.three-trips
{
    height:26px;
    margin-left:24px;
    margin-right:24px;
}
.youtube-logo
{
    height:30px;
    width:70px;
}
.middle-sec
{
    flex:1;
    margin-left:70px;
    margin-right:35px;
    max-width:400px;
    display:flex;
    align-items:center;
}
.search-button
{
    padding-top:3px;
    width:64px;
    /* height:38px; */
    /* background-color:rgb(120, 118, 118); */
    border-width:1px;
    border-style:solid;
    /* border-color:rgb(192, 192, 192); */
    margin-left:-5px;
    margin-right:10px;
    /* border-radius:2px; */
}
.icon-search
{
    height:25px;
    margin-top:4px;  
}
.mike-button
{
    width:40px;
    height:40px;
    border-radius:20px;
    border:none;
}
.mike
{
    margin-top:4px;
    height:24px;
    width:32px;
} 
.right-sec
{
    background-color:lightblue;
    width: 200px;
}