#emailtag{
    background-color: rgb(43, 163, 163);
}
.A{
    background-color: blue; 
}
.set-1{
    background-color: blanchedalmond;
}
.set-2{
    background-color: violet;
}
body{
    background-color: rgb(92, 111, 234);
}